.navbar {
    display: flex;
    background-color: rgb(125, 96, 151);
    height: 300px;
    border-radius: 250px;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    animation-name: swap;
    animation-duration: 4s;
    transition: transform 0.5s;
}

@keyframes swap {
    from { background-color: rgb(125, 96, 151) }
    to { background-color: rgb(255, 103, 136) }
}

.navbar:hover {
    transform: rotateX(150deg);
}
